.sectionOne {
    .row {
        display: flex;
		flex-direction: column;
		align-items: center;
		padding: var(--sizing-xxxl) 0;
        text-align: center;
        h1 {
			font: 500 var(--font-size-xl) var(--font-family-fancy);
			margin-bottom: var(--sizing-medium);
		}
    }
}

.sectionTwo {
    .row {
        display: flex;
        flex-direction: row;
        .blogCardContainer {
            position: relative;
            flex-basis: var(--sizing-super);
        }
    }
}