.sectionOne {
	padding-top: var(--sizing-large);
	padding-bottom: var(--sizing-large);
	display: flex;
	justify-content: center;
	align-items: center;
	gap: var(--sizing-large);
	.colOne {
		flex-basis: var(--sizing-super-xl);
		display: flex;
		flex-direction: column;
	}
	.colTwo {
		flex-basis: var(--sizing-super);
		.textContainer {
			display: flex;
			flex-direction: column;
			align-items: center;
		}
		.imageWrapper {
			position: relative;
			width: 100%;
			height: var(--sizing-super);
			border-radius: 10px;
			overflow: hidden;
			img {
				object-fit: cover;
			}
		}
	}
}

.sectionOne .col {
	.author {
		font: 700 var(--font-size-normal) var(--font-family-content);
	}
	.title {
		font: 500 var(--font-size-title) var(--font-family-fancy);
		margin-bottom: var(--sizing-medium);
	}
	.excerpt {
		margin-bottom: var(--sizing-medium);
		font-size: var(--font-size-body);
	}
	.categories {
		border: 2px solid var(--color-black);
		border-radius: var(--sizing-small);
		width: fit-content;
		padding: 0.75rem 1.25rem;
	}
}

.sectionTwo {
	display: flex;
	flex-direction: row;
	justify-content: center;
	padding-top: var(--sizing-large);
	.colOne {
		flex-basis: var(--sizing-xxxl);
	}
	.colTwo {
		flex-basis: var(--sizing-super-xl);
	}
}

.sectionTwo .colTwo {
	h3 {
		font: 500 var(--font-size-title) var(--font-family-fancy);
		margin-top: var(--sizing-medium);
	}
	p {
		font: 300 var(--font-size-normal) var(--font-family-content);
		margin: var(--sizing-xxxs) 0;
		line-height: 1.8em;
	}
}

@media screen and (max-width: 800px) {
	.sectionOne {
		flex-direction: column-reverse;
		padding-top: 0;
		.colOne {
			display: flex;
			flex-direction: column;
			align-items: center;
            flex-basis: auto;
			text-align: center;
            width: rfs(125rem)
		}
		.colTwo {
			width: 100%;
		}
		.colTwo .imageWrapper {
			width: 100%;
			img {
				border: none;
			}
		}
	}
}
