.sectionHeader {
	font: 500 var(--font-size-xl) var(--font-family-fancy);
}

.sectionDivider {
	width: var(--sizing-super);
	margin-top: var(--sizing-xxs);
	margin-bottom: var(--sizing-large);
}

.sectionOne {
	.col {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		padding: var(--sizing-xxxl) 0 var(--sizing-xxxl) var(--sizing-xxxl);
		color: var(--color-white);
		text-align: left;
		h1 {
			font: 500 var(--font-size-xl) var(--font-family-fancy);
			margin-bottom: var(--sizing-medium);
		}
		p {
			font: 500 var(--font-size-medium) var(--font-family-content);
			margin-bottom: var(--sizing-medium);
		}
		.row:nth-of-type(1),
		.row:nth-of-type(2) {
			width: rfs(75rem);
		}
	}
}

.sectionTwo {
	margin: var(--sizing-large) 0;
	.col {
		display: flex;
		flex-direction: column;
		gap: var(--sizing-small);
	}
	.row {
		display: flex;
		justify-content: center;
		flex-wrap: wrap;
	}
	.rowOne {
		flex-direction: column;
		align-items: center;
	}
}

.sectionThree {
	background-image: linear-gradient(
		180deg,
		var(--color-blue),
		var(--color-blue-overlay)
	);
	display: flex;
	flex-direction: column;
	padding: var(--sizing-medium) var(--sizing-large);
	gap: var(--sizing-medium);
}

.sectionThree .rowTwo {
	display: flex;
	gap: var(--sizing-large);
	margin: auto;
	width: 100%;
	max-width: var(--sizing-super-xxl);
}

.sectionThree .rowTwo .imageWrapper {
	position: relative;
	width: 100%;
	height: var(--sizing-xxxl);
	box-shadow: 0px 5px 5px 0px rgb(0 0 0 / 25%);
	img {
		object-fit: cover;
	}
}

.sectionThree span {
	font: 500 var(--font-size-title) var(--font-family-fancy);
	color: var(--color-white);
}

.sectionThree .rowThree {
	align-self: flex-end;
}

.sectionFour {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: var(--sizing-large) 0;
	.rowOne {
		display: flex;
		flex-direction: column;
		align-items: center;
	}
}

.sectionFour .rowTwo {
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	width: var(--sizing-super-xxl);
	.col {
		width: var(--sizing-xxxl)
	}
	.serviceColumn {
		h2 {
			margin-bottom: var(--sizing-xs);
		}
	}
}