@media screen and (min-width: 1000px) {
	.hamburger-react {
		display: none;
	}
}

:root {
	--color-gold: rgba(196, 155, 101, 1);
	--color-white: #ffffff;
	--color-black: #000;
	--color-blue: rgba(26, 28, 49, 1);
	--color-blue-overlay: rgba(26, 28, 49, 0.8);
	--default-box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
	--font-size-xl: rfs(5rem);
	--font-size-large: rfs(3.5rem);
	--font-size-title: rfs(2.5rem);
	--font-size-heading: rfs(2rem);
	--font-size-medium: rfs(1.5rem);
	--font-size-normal: rfs(1.25rem);
	--font-size-body: rfs(1rem);
	--font-size-small: rfs(0.75rem);
	--font-family-fancy: "EB Garamond", serif;
	--font-family-heading: "Poppins", sans-serif;
	--font-family-content: "Open Sans", sans-serif;
	--default-hover-transition: all 0.3s ease-in-out;
	--default-border-radius: 0.5rem;
	--sizing-super-xxl: rfs(150rem);
	--sizing-super-xl: rfs(100rem);
	--sizing-super-large: rfs(65rem);
	--sizing-super: rfs(45rem);
	--sizing-xxxxl: rfs(40rem);
	--sizing-xxxl: rfs(25rem);
	--sizing-xxl: rfs(10rem);
	--sizing-xl: rfs(7.5rem);
	--sizing-hamburger: rfs(5.5rem);
	--sizing-large: rfs(5rem);
	--sizing-medium: rfs(2.5rem);
	--sizing-small: rfs(1.5rem);
	--sizing-xs: rfs(1rem);
	--sizing-xxs: rfs(0.75rem);
	--sizing-xxxs: rfs(0.5rem);
	--sizing-section-border: rfs(20rem);
}

*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box; /* thanks redditindisguise */
}

.sectionBorder {
	border-top: var(--sizing-section-border) solid var(--color-blue);
}