.sectionOne {
	.col {
		display: flex;
		flex-direction: column;
		align-items: center;
		padding: var(--sizing-xxxl) 0;
		color: var(--color-white);
		text-align: center;
		h1 {
			font: 500 var(--font-size-xl) var(--font-family-fancy);
			margin-bottom: var(--sizing-medium);
		}
		p {
			font: 500 var(--font-size-medium) var(--font-family-content);
			margin-bottom: var(--sizing-medium);
		}
		.row:nth-of-type(1),
		.row:nth-of-type(2) {
			width: rfs(75rem);
		}
	}
}

.sectionTwo {
	.col {
		transform: translateY(calc(var(--sizing-xxl) * -1));
		display: flex;
		flex-direction: column;
		gap: var(--sizing-small);
	}
	.row {
		display: flex;
		justify-content: center;
		flex-direction: row;
	}
	.rowOne {
		flex-wrap: wrap;
		gap: var(--sizing-small);
	}
}

.sectionThree {
	padding: 0 var(--sizing-xl);
	.colOne {
		grid-column: 1 / span 1;
		grid-row: 1 / span 4;
		.imageWrapper {
			position: relative;
			width: var(--sizing-super);
			height: var(--sizing-super-large);
			img {
				object-fit: contain;
			}
		}
	}
	.colTwo {
		grid-column: 2 / span 1;
		grid-row: 2 / span 1;
	}
	.colThree {
		grid-column: 2 / span 1;
		grid-row: 3 / span 1;
	}
	.colTwo,
	.colThree {
		span {
			color: var(--color-gold);
			font: 600 var(--font-size-body) var(--font-family-content);
		}
		h3 {
			font: 500 var(--font-size-xl) var(--font-family-fancy);
			margin-bottom: var(--sizing-small);
		}
		p {
			font: 500 var(--font-size-body) var(--font-family-content);
			line-height: 1.5em;
			margin-bottom: var(--sizing-medium);
		}
	}
}

.sectionFour {
	padding-top: var(--sizing-xl);
	.rowOne {
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: var(--sizing-xxxs);
		h3 {
			color: var(--color-gold);
			font: 600 var(--font-size-title) var(--font-family-fancy);
		}
		span {
			font: 600 var(--font-size-medium) var(--font-family-fancy);
		}
	}
	.rowTwo {
		display: flex;
		flex-direction: row;
		justify-content: center;
		flex-wrap: wrap;
	}
}


@media screen and (min-width: 600px) {
	.sectionThree {
		display: grid;
		grid-template-columns: min-content minmax(
				var(--sizing-super),
				var(--sizing-super-xl)
			);
		grid-template-rows: repeat(4, auto);
		grid-column-gap: var(--sizing-medium);
		justify-content: center;
	}
}

@media screen and (max-width: 980px) {
	.sectionThree {
		grid-row-gap: var(--sizing-medium);
		.colTwo {
			display: flex;
			flex-direction: column;
			justify-content: center;
			grid-row: 1 / span 4;
		}
		.colThree {
			grid-column: 1 / span 2;
			grid-row: 5 / span 1;
		}
	}
}

@media screen and (max-width: 650px) {
	.sectionThree {
		display: flex;
		gap: var(--sizing-medium);
		justify-content: center;
		flex-wrap: wrap;
		text-align: center;
		.col h3 {
			margin-bottom: var(--sizing-xxs);
		}
		.col p:last-of-type {
			display: none;
		}
	}
}
